.main {
  padding: 2rem;
  background-color: #121212;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user {
  width: calc(20% - 1rem);
  margin: 0.5rem;
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  text-align: center;
}

.user:hover {
  background-color: #444;
  transition: background-color 0.5s;
  cursor: pointer;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #444;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #666;
}

.twitterButton {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  /* nice blue color for tweet button */
  background-color: #1da1f2;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.twitterButton:hover {
  background-color: #1da0f2d8;
}