.main {
  padding: 2rem;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.h1 {
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user {
  width: calc(25% - 1rem);
  margin: 0.5rem;
  background: linear-gradient(
    92.88deg,
    rgb(18, 20, 45) 9.16%,
    rgb(18, 20, 45) 43.89%,
    rgb(18, 20, 45) 64.72%
  );
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.user:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px var(--shadow-color);
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--primary-glow);
  color: var(--foreground-rgb);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #666;
}

.twitterButton {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #1da1f2;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.twitterButton:hover {
  background-color: #1da0f2d8;
}

@media only screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }

  .user {
    width: 100%;
    margin: 0.5rem 0;
  }
}
