.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #999;
}

.githubLink {
  background-color: #444;
  padding: 0.5rem;
  border-radius: 5px;
  color: #f0f0f0;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.githubLink:hover {
  background-color: #363535;
  transition: background-color 0.5s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
